In [1]:
# Explore and cluster the neighborhoods in Toronto

import pandas as pd
import numpy as np

In [2]:
link = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df_toronto = pd.read_html(link, header=0,na_values=['Not assigned'],keep_default_na=False)[0]
print('file is ready')

file is ready

In [6]:
df_toronto.dropna(subset=['Borough'], inplace=True)

df_toronto['Neighbourhood'].fillna(df_toronto['Borough'], inplace=True)

df_post = df_toronto.groupby(['Postcode','Borough']).Neighbourhood.unique().reset_index()

df_post.shape

(103, 3)

In [10]:
df_geo = pd.read_csv('http://cocl.us/Geospatial_data',sep=',')

#df_geo.head()

In [12]:
df_coord = df_post.set_index('Postcode').join(df_geo.set_index('Postal Code')).reset_index()
df_coord.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"[Rouge, Malvern]",43.806686,-79.194353
1,M1C,Scarborough,"[Highland Creek, Rouge Hill, Port Union]",43.784535,-79.160497
2,M1E,Scarborough,"[Guildwood, Morningside, West Hill]",43.763573,-79.188711
3,M1G,Scarborough,[Woburn],43.770992,-79.216917
4,M1H,Scarborough,[Cedarbrae],43.773136,-79.239476